$dark-orange-00: #fff7ed;
$dark-orange-50: #ffedd5;
$dark-orange-100: #fed7aa;
$dark-orange-150: #fdba74;
$dark-orange-200: #fb923c;
$dark-orange-250: #f97316;
$dark-orange-300: #ea580c;
$dark-orange-350: #c2410c;
$dark-orange-400: #9a3412;
$dark-orange-450: #7c2d12;
$dark-orange-500: #431407;
