.details-view {
  display: flex;
  flex-direction: column;

  gap: 2.4rem;
}

.details-view__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-view__loading,
.details-view__fields {
  padding: 2.4rem;

  border-radius: 1.2rem;

  background: var(--background-50, #0f172a);
}

.details-view__fields {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 3.2rem;
}
