.table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.table-wrapper__table {
  overflow-y: auto;
  border-radius: var(--border-radius-md);
}

.table {
  width: auto;
  min-width: 100%;

  text-align: left;
  overflow: hidden;
  border: none;
  border-spacing: 0;
}
