$light-red-00: #450a0a;
$light-red-50: #7f1d1d;
$light-red-100: #991b1b;
$light-red-150: #b91c1c;
$light-red-200: #dc2626;
$light-red-250: #ef4444;
$light-red-300: #f87171;
$light-red-350: #fca5a5;
$light-red-400: #fecaca;
$light-red-450: #fee2e2;
$light-red-500: #fef2f2;
