.detail-label-value {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  width: 100%;

  &__label,
  &__value {
    font-style: normal;
    font-weight: 500;
  }

  &__label {
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
    color: var(--grayscale-200);
  }

  &__value {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: var(--grayscale-00);
  }

  &__status {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
}

.status {
  &__ellipse {
    height: 0.8rem;
    width: 0.8rem;

    border-radius: 10rem;
  }

  &__value {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
}

.active-ellipse {
  background-color: var(--green-200);
}

.inactive-ellipse {
  background-color: var(--red-200);
}

.active {
  color: var(--green-200);
}

.inactive {
  color: var(--red-200);
}
