.data-revision {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.data-revision__edit-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-revision__is-loading {
  height: 25dvh;
}

.data-revision__fields {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3.2rem;

  width: 100%;
}

@media (min-width: 640px) {
  .data-revision__fields {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .data-revision__fields {
    grid-template-columns: repeat(3, 1fr);
  }
}
