.coffee-shop-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  flex-grow: 1;
  padding: 2.4rem;

  background: var(--background-50);
  border-radius: var(--border-radius-md);
}

.coffee-shop-list__header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
  text-align: center;
}

.coffee-shop-form__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 2.4rem;
}
