.read-by-id-organism {
  display: flex;
  flex-direction: column;

  gap: 2.4rem;
}

.read-by-id-organism__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.read-by-id-organism__fields {
  display: flex;

  padding: 2.4rem;
  gap: 3.2rem;

  border-radius: 1.2rem;

  background: var(--background-50, #0f172a);
}
