.read-by-id-organism {
  display: flex;
  flex-direction: column;

  gap: 2.4rem;
}

.read-by-id-organism__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.read-by-id-molecule__loading,
.read-by-id-organism__fields {
  padding: 2.4rem;

  border-radius: 1.2rem;

  background: var(--background-50, #0f172a);
}

.read-by-id-organism__fields {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2.4rem;
}
