.password-input-wrapper__icon {
  position: absolute;

  top: 50%;
  right: 1.2rem;
  transform: translateY(-50%);

  transition: var(--transition-default);

  cursor: pointer;

  &:hover {
    color: var(--grayscale-200);
  }
}
