$dark-red-00: #fef2f2;
$dark-red-50: #fee2e2;
$dark-red-100: #fecaca;
$dark-red-150: #fca5a5;
$dark-red-200: #f87171;
$dark-red-250: #ef4444;
$dark-red-300: #dc2626;
$dark-red-350: #b91c1c;
$dark-red-400: #991b1b;
$dark-red-450: #7f1d1d;
$dark-red-500: #450a0a;
