.wrapper {
  display: flex;
}

.wrapper__children {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  padding: 3.2rem 1.6rem;

  min-height: 100dvh;
  width: 100%;
}

.wrapper__children-is-open {
  @extend .wrapper__children;

  padding: 3.2rem 8.8rem 3.2rem (8rem + 18.4rem) !important;
}

@media (min-width: 1280px) {
  .wrapper__children {
    padding: 3.2rem 8.8rem 3.2rem (8rem + 8.8rem);
  }
}
