$dark-grayscale-00: #fafafa;
$dark-grayscale-50: #f5f5f5;
$dark-grayscale-100: #e5e5e5;
$dark-grayscale-150: #d4d4d4;
$dark-grayscale-200: #a3a3a3;
$dark-grayscale-250: #737373;
$dark-grayscale-300: #525252;
$dark-grayscale-350: #404040;
$dark-grayscale-400: #262626;
$dark-grayscale-450: #171717;
$dark-grayscale-500: #0a0a0a;
