$light-green-00: #052e16;
$light-green-50: #14532d;
$light-green-100: #166534;
$light-green-150: #15803d;
$light-green-200: #16a34a;
$light-green-250: #22c55e;
$light-green-300: #4ade80;
$light-green-350: #86efac;
$light-green-400: #bbf7d0;
$light-green-450: #dcfce7;
$light-green-500: #f0fdf4;
