$light-grayscale-00: #0a0a0a;
$light-grayscale-50: #171717;
$light-grayscale-100: #262626;
$light-grayscale-150: #404040;
$light-grayscale-200: #525252;
$light-grayscale-250: #737373;
$light-grayscale-300: #a3a3a3;
$light-grayscale-350: #d4d4d4;
$light-grayscale-400: #e5e5e5;
$light-grayscale-450: #f5f5f5;
$light-grayscale-500: #fafafa;
