.dropdown-menu {
  background-color: var(--background-100);
  border-radius: var(--border-radius-md);

  border: none;

  transition: var(--transition-default);
}

.dropdown-menu__item {
  &:hover {
    background: var(--background-150);
  }
}

.dropdown-menu__ellipsis-button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border: none;

  transition: var(--transition-default);

  background-color: transparent;

  height: 3.2rem;
  width: 3.2rem;

  border-radius: var(--border-radius-sm);

  * {
    width: 1.6rem;
    height: 1.6rem;

    background-color: transparent;
    color: var(--green-250) !important;
  }

  &:hover {
    background-color: var(--green-opacity-00);
  }
}
