$light-background-00: #f8fafc;
$light-background-50: #f1f5f9;
$light-background-100: #e2e8f0;
$light-background-150: #cbd5e1;
$light-background-200: #94a3b8;
$light-background-250: #64748b;
$light-background-300: #475569;
$light-background-350: #334155;
$light-background-400: #1e293b;
$light-background-450: #0f172a;
$light-background-500: #020617;
