.status-table-data {
  padding: 1.2rem;
}

.status-table-data__status-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-size: 1.4rem;
  line-height: 2rem;
}

.status-wrapper__ellipse {
  width: 0.8rem;
  height: 0.8rem;

  background-color: var(--green-250);

  border-radius: var(--border-radius-xl);
}

.active {
  color: var(--green-250);

  .status-wrapper__ellipse {
    background-color: var(--green-250);
  }
}

.inactive {
  color: var(--red-250);

  .status-wrapper__ellipse {
    background-color: var(--red-250);
  }
}
