.text-input__icon {
  position: absolute;

  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
}

.text-input__icon-right {
  position: absolute;

  top: 50%;
  right: 1.2rem;
  transform: translateY(-50%);
}
