$dark-background-00: #020617;
$dark-background-50: #0f172a;
$dark-background-100: #1e293b;
$dark-background-150: #334155;
$dark-background-200: #475569;
$dark-background-250: #64748b;
$dark-background-300: #94a3b8;
$dark-background-350: #cbd5e1;
$dark-background-400: #e2e8f0;
$dark-background-450: #f1f5f9;
$dark-background-500: #f8fafc;
