$dark-green-00: #f0fdf4;
$dark-green-50: #dcfce7;
$dark-green-100: #bbf7d0;
$dark-green-150: #86efac;
$dark-green-200: #4ade80;
$dark-green-250: #22c55e;
$dark-green-300: #16a34a;
$dark-green-350: #15803d;
$dark-green-400: #166534;
$dark-green-450: #14532d;
$dark-green-500: #052e16;
