$light-orange-00: #431407;
$light-orange-50: #7c2d12;
$light-orange-100: #9a3412;
$light-orange-150: #c2410c;
$light-orange-200: #ea580c;
$light-orange-250: #f97316;
$light-orange-300: #fb923c;
$light-orange-350: #fdba74;
$light-orange-400: #fed7aa;
$light-orange-450: #ffedd5;
$light-orange-500: #fff7ed;
